@mixin getEmissaoNFStyles(){
   .emissaoNFs {
       height: 100%;
       margin-left: 0rem;
       margin-right: 0rem;
       background-color: white;
       border-radius: 1rem;
       padding: 1.5rem 2rem;
       .graph {
           height: 80%;
       }
   }
    .chartBar {
        margin-left: 0rem;
        margin-right: 0rem;
        width: 420px;
        height: 250px;
    }
}